$black-color: #222222;
$antracite-grey-color: #222224;
$white-color: #FFFFFF;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$bright-pink-color: #F26376;
$light-pink-color: #F8F3F4;
$grey-color: #F8F8F8;
$grey-light-color: #E8E8E8;
$dark-grey-color: #5D5D5D;
$light-beige-color: #FBFBFB;
$middle-grey-color: #E1E1E1;
$bright-grey-color: #9F9F9F;
$medium-grey-color: #B1B1B1;
$grey-soft-color: #575757;
$grey-cold-color: #6F6E6E;
$very-light-grey-color: #F7F7F7;
$very-soft-grey-color: #F5F3F3;
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;