.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: column;
    }

    @include mobile {
        justify-content: center;
    }

    &__product {
        margin-top: 96px;

        @include mobile {
            width: 100%;
        }
    }

    &__position {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        @include mobile {
            width: 100%;
        }

        &-img {
            @include mobile {
                width: 69%;
            }

        }

        &-description {
            width: 40%;
            height: 306px;

        }

        &-title {
            width: 262px;
            @include font(24px, 29px, 400);
            text-transform: uppercase;
            margin-bottom: 42px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 22px;

            @include mobile {
                width: 69%;
                @include font(16px, 19px, 400);
            }
        }

        &-close {
            fill: $grey-soft-color;
            margin-right: 22px;

            @include mobile {
                margin-right: 0;
            }
        }


        &-item {
            width: 122px;
            @include font(22px, 26px, 400);

            @include mobile {
                @include font(14px, 16px, 400);
            }

            &-number {
                display: flex;
                justify-content: left;
                align-items: center;
                @include font(22px, 26px, 400);

                @include mobile {
                    @include font(14px, 16px, 400);
                }
            }

            &-quantity {
                width: 43px;
                height: 24px;
            }

            &-pink {
                color: $dark-pink-color;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 144px;
    }

    &__button {
        width: 41%;
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        text-align: center;
        padding: 17px 41px 16px 39px;
        background-color: $white-color;

        @include mobile {
            text-transform: capitalize;
            @include font(12px, 14px, 400);
        }
    }

    &__link {
        width: 41%;
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        padding: 17px 41px 16px 39px;
        text-align: center;
        text-decoration: none;
        color: $black-color;
        border: 1px solid;

        @include mobile {
            text-transform: capitalize;
            @include font(12px, 14px, 400);
        }
    }
}