.cart {
    margin-top: 96px;
    margin-left: 230px;

    &__position {
        width: 390px;
        height: 306px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        &-description {
            flex-direction: column;
        }

        &-title {
            @include font(24px, 29px, 400);
            text-transform: uppercase;
        }

        &-item {
            @include font(22px, 26px, 400);
        }

        &-title-pink {
            color: $dark-pink-color;
        }

        &-close {
            fill: $grey-soft-color;
        }
    }

    &__button {
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        padding: 17px 41px 16px 39px;
    }

    &__link {
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        padding: 17px 41px 16px 39px;
    }

}