.form__cart {

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    &-form {
        display: flex;
        flex-direction: column;
    }

    &-title {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        margin-bottom: 21px;
    }

    &-field {
        width: 359px;
        height: 45px;
        margin-bottom: 21px;
    }

    &-button {
        width: 100px;
        height: 34px;
        @include font(11px, 13px, 300);
        text-transform: uppercase;
        padding: 10px 11px 13px 14px;
        background-color: $white-color;
        white-space: nowrap;
        margin-top: 24px;

        @include mobile {
            text-transform: capitalize;
        }
    }
}