.form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        flex-direction: column;
    }


    &__filling {
        margin-bottom: 120px;
    }

    &__list {
        border: none;

    }

    &__title {
        @include font(16px, 19px, 300);
        text-align: left;
        color: $black-color;
        margin-bottom: 21px;
    }

    &__field {
        width: 36%;
        height: 44px;
        top: 327px;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;
        color: $medium-grey-color;
        padding: 13px 274px 16px 17px;
        margin-bottom: 21px;

        @include mobile {
            top: 301px;

            padding: 12px 276px 15px 17px;

        }
    }

    &__choice {
        margin-bottom: 35px;
    }

    &__radio {
        display: none;
    }

    &__label {
        margin: 0 0 0 20px;
        position: relative;
        padding-right: 20px;
        padding-left: 10px;
    }

    &__label::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        left: -20px;
        top: -2px;
        border: 1px solid #A4A4A4;
        border-radius: 50%;

    }

    &__radio:checked+.form__label::after {
        background: #5D5D5D;
        background-size: 10px 10px;
    }

    &__text {
        width: 359px;
        @include font(13px, 16px, 300);
        text-align: left;
        color: $medium-grey-color;
        margin-top: 16px;
        margin-bottom: 39px;
    }

    &__link {
        width: 167px;
        height: 50px;
        color: white;
        background-color: $dark-pink-color;
        text-transform: uppercase;
        padding: 16px 66px 17px 29px;
        text-decoration: none;
    }

    &__link-icon {
        fill: $white-color;
        align-self: center;
        padding-left: 20px;
    }
}