.form__checkout {
    width: 360px;
    height: 214px;
    background-color: $very-soft-grey-color;
    margin-top: 58px;

    @include tablet {
        margin-bottom: 147px;
    }

    &-text {
        @include font(11px, 13px, 400);
        text-transform: uppercase;
        padding: 39px 34px 12px 218px;
    }

    &-text-big {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        padding-left: 153px;
    }

    &-text-pink {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        color: $dark-pink-color;
        padding-left: 6px;
    }

    &-button {
        width: 273px;
        height: 50px;
        background-color: $dark-pink-color;
        color: $white-color;
        text-transform: uppercase;
        margin-top: 17px;
        margin-left: 44px;
    }

    .line__cart {
        fill: $grey-soft-color;
        margin-top: 21px;
        margin-left: 44px;
    }

}