.loyalty {
    flex-grow: 1;
    margin-top: 64px;
    margin-bottom: 277px;

    &__title {
        @include font(24px, 29px, 300);
        text-align: left;
        text-transform: uppercase;
        margin-left: 38px;

        @include tablet {
            @include font(16px, 19px, 300);
        }
    }

    &__list {
        @include font(24px, 29px, 300);
        text-align: left;
        list-style-type: none;
    }

    &__item::before {
        content: url(../img/punkt.svg);
        padding-right: 24px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -16px;
    }

    &__text {
        width: 49%;
        text-align: left;

        @include tablet {
            @include font(16px, 19px, 300);
        }
    }
}