.promotion {
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 63px;
    }

    &__item {
        width: 31%;
        min-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px;
        text-align: center;

        @include tablet {
            width: 31%;
            min-height: 168px;
            margin: 0 0 19px;
        }

        @include mobile {
            width: 100%;
            min-height: 247px;
            margin: 0 0 32px;
        }
    }

    &__item--woman {
        background-image: url(../img/woman-30.jpg);
        background-color: $grey-cold-color;
        background-size: cover;

    }

    &__item--man {
        background-image: url(../img/man-30.jpg);
        background-color: $grey-cold-color;
        background-size: cover;
    }

    &__item--kids {
        background-image: url(../img/kids-30.jpg);
        background-color: $grey-cold-color;
        background-size: cover;
    }

    &__item--accesories {
        background-image: url(../img/accesories.jpg);
        background-color: $grey-cold-color;
        background-size: cover;
        width: 100%;

        @include tablet {
            min-height: 116px;
        }

        @include mobile {
            min-height: 111px;
        }

    }

    &__description {
        padding: 105px 103px;
    }

    &__title {
        @include font(16px, 19px, 400);
        text-transform: uppercase;
        color: $white-color;
        white-space: nowrap;
    }

    &__text {
        @include font(24px, 29px, 700);
        text-transform: uppercase;
        color: $dark-pink-color;
    }

}