.products {
    text-align: center;

    &__description {
        margin-top: 96px;
        margin-bottom: 48px;
    }

    &__title {
        @include font(30px, 36px, 400);
        color: $black-color;
    }

    &__text {
        @include font(14px, 17px, 400);
        color: $bright-grey-color;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;


        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 360px;
        position: relative;
        margin-bottom: 49px;

        @include tablet {
            width: 46%;
        }

        @include min-mobile {
            width: 100%;
        }
    }

    .product {

        &__tablet {
            @include tablet {
                display: none;
            }

            @include mobile {
                display: block;
            }
        }

        &__mobile {
            @include tablet {
                display: block;
            }

            @include mobile {
                display: none;
            }
        }

        &__wrapper {
            top: 1576px;
            width: 360px;
            min-height: 420px;
        }

        &__img {
            display: block;

            @include mobile {
                width: 100%;
            }
        }

        &__description {
            background: $grey-color;
            padding: 25px 29px 20px 17px;
            text-align: left;
        }

        &__title {
            @include font(13px, 16px, 400);
            color: $black-color;
            text-transform: uppercase;
        }

        &__text {
            @include font(14px, 17px, 300);
            color: $dark-grey-color;
        }

        &__price {
            @include font(16px, 19px, 400);
            color: $dark-pink-color;
        }

        &__button {
            width: 138px;
            height: 43px;
            @include font(14px, 17px, 400);
            text-align: center;
            border: 1px solid $white-color;
            color: $white-color;
            background: transparent;
            position: absolute;
            margin-top: 186px;
            margin-left: 112px;
        }

        &____button-icon {
            fill: $white-color;
        }
    }

    .overlay {
        width: 360px;
        min-height: 420px;
        background-color: rgba(58, 56, 56, 0.86);
        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay,
    .product__button {
        display: none;
    }

    &__item:hover .overlay,
    &__item:hover .product__button {
        display: block;
    }

    &__button {
        width: 211px;
        height: 47px;
        @include font(16px, 19px, 400);
        color: $bright-pink-color;
        padding: 15px 39px 14px 39px;
        text-decoration: none;
        border: 1px solid $bright-pink-color;
    }

    &__button:hover {
        color: $white-color;
        background-color: $dark-pink-color;
    }
}